.footer{
    
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(255, 108, 0);
}
.footer-ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.footer-a{
    text-decoration: auto;
    color: white;
}

.img{
    width: 50px;
}