<div>
    <nav class="navHeader">
        <img class="img" alt="Yanbal Logo" src="https://www.yanbal.com/medias/logo-yanbal.svg?context=bWFzdGVyfGltYWdlc3wzMzc1fGltYWdlL3N2Zyt4bWx8aW1hZ2VzL2gwNS9oOTgvOTQxMTUyMjc4OTQwNi5zdmd8YjkzMDU5MDIzMGVkYmRhNTcwZjNjNDQwNTQ4YzdiMGM1Njk5NjIzOTI3MGE4MDI4NDZkMTgzMTIyMGUzYWViMA">   
        <ul class="navHeader-ul">
            <li><a class="navHeader-head" href="">Inicio</a></li>
            <li><a class="navHeader-head" href="">Nosotros</a></li>
            <li><a class="navHeader-head" href="">Contacto</a></li>

        </ul>
    </nav>
</div>
